
@{
    ViewBag.Title = "OrderCompleted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Siparişiniz başarıyla alınmıştır.En kısa sürede kargoya verilecektir.</h2>
<h2>Blooby ailesi olarak sağlıklı günler dileriz.</h2>

