@model MVC5_ASPNET_FINALPROJECT.Models.Cart
<li> <a class="totalInCart" href="/Cart/Index">
    <strong>Toplam Tutar:<span class="badge badge-warning pull-right" style="line-height:18px;">@Model.ProductTotal().ToString("c")</span></strong></a></li>
